body{
    background-color: orange;
}

#d1{
    height: 300px;
    background-color: #FFFF;
}

#d2{
    width: 80px;
    background-color: lightblue;
    float: left;
    padding: 10px;
}

#d3{
    padding: 10px;
    width: 80px;
    background-color: coral;
    float: right;
}

p.clear_ex{
    clear: left;
}