.div1{
    width: 300px;
    height: 200px;
    border: 1px solid red;
    background-color: orange;

}

.div1 img{
    float: right;
}




.div2{
    width: 300px;
    height: 100px;
    border:1px solid orange;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: -1px 9px 8px 8px red;

}