body{
    font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background-color: #231F20;
    overflow: hidden;
}

.navbar a{
    float:left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

.dropdown{
    float:left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 18px;
    border:none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0px;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: purple;
}

.dropdown_content{
    display:none;
    position: absolute;
    background-color:turquoise;
    box-shadow: 0px 8px 16px 0px;
}
.dropdown_content a{
    float: none;
    color: white;
    padding: 13px 16px;
    display: block;
    text-align: left;
}

.dropdown_content a:hover{
    background-color: orchid;
}

.dropdown:hover .dropdown_content{
    display:block;
}